.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 1160px;
  margin: 1.5rem auto;
  padding: 0 1.5rem;
}

@media (min-width: 768px) {
  .controls {
    flex-direction: row;
    align-items: flex-end;
    gap: 1.5rem;
  }
}
